<header class="site-header" data-header>
  <nav class="nav-shell" aria-label="Primary navigation">
    <a class="brand" href="/" aria-label="LatexDo home">
      <img src="/assets/icon.svg" alt="" width="36" height="36" />
      <span>LatexDo</span>
    </a>
    <button
      class="nav-toggle"
      type="button"
      aria-expanded="false"
      aria-controls="nav-links"
      data-nav-toggle
    >
      <span></span>
      <span></span>
    </button>
    <div id="nav-links" class="nav-links" data-nav-links>
      <a href="/#product">Product</a>
      <a href="/#download">Downloads</a>
      <a href="https://docs.latexdo.org">Docs</a>
      <a href="https://github.com/latexdo/latexdo">GitHub</a>
      <a class="nav-try-link" href="https://editor.latexdo.org/">Try online</a>
      <a class="nav-download-link" href="https://app.latexdo.org/downloads/">Download</a>
    </div>
  </nav>
</header>
